{% extends 'base.html.twig' %}

{% block contenu %}

{% if action == "ajouter" %}
<center>
  <h2 class = "display-4">Ajout d'un stage</h2>
  <br>
</center>

{% else %}
<center>
  <h2 class = "display-4">Modification d'un stage</h2>
  <br>
</center>
{% endif %}

{{form_start(vueFormulaireStage, {'attr':{'novalidate':'novalidate'}}) }}

<label>Libellé du stage</label>
{{form_errors(vueFormulaireStage.titre)}}
{{form_widget(vueFormulaireStage.titre, {'attr':{'placeholder':"Développeur Web, Analyste Programmeur..."}})}}
<br>

<label>Description du stage</label>
{{form_errors(vueFormulaireStage.description)}}
{{form_widget(vueFormulaireStage.description, {'attr':{'placeholder':"Vous aurez pour mission de..."}})}}
<br>

<hr>
<center><h2 class = "display-4">Ajout de l'entreprise concernée</h2></center><br>
<label>Nom de l'entreprise</label>
{{form_errors(vueFormulaireStage.entreprise.nom)}}
{{form_widget(vueFormulaireStage.entreprise.nom, {'attr':{'placeholder':"Total, Safran, Lauak..."}})}}
<br>

<label>Activité principale</label>
{{form_errors(vueFormulaireStage.entreprise.activite)}}
{{form_widget(vueFormulaireStage.entreprise.activite, {'attr':{'placeholder':"Conception Web..."}})}}
<br>

<label>Adresse</label>
{{form_errors(vueFormulaireStage.entreprise.adresse)}}
{{form_widget(vueFormulaireStage.entreprise.adresse, {'attr':{'placeholder':"33 Rue de la Paix 64600 Anglet..."}})}}
<br>

<label>Mail</label>
{{form_errors(vueFormulaireStage.entreprise.email)}}
{{form_widget(vueFormulaireStage.entreprise.email, {'attr':{'placeholder':"contact@safran.com..."}})}}
<br>

<label>Site Web</label>
{{form_errors(vueFormulaireStage.entreprise.siteWeb)}}
{{form_widget(vueFormulaireStage.entreprise.siteWeb, {'attr':{'placeholder':"safran.com..."}})}}
<br>

<hr>
<center><h2 class = "display-4">Stage proposé pour</h2></center>
<br>
{{form_errors(vueFormulaireStage.formation)}}
{{form_widget(vueFormulaireStage.formation)}}
<br>

<br>
<center>
  <button type="submit" class="btn btn-dark">Valider !</button>
</center>

{{form_end(vueFormulaireStage)}}

{% endblock %}

{% block tri %}
{% endblock %}
