<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" type="image/x-icon" href="{{asset('/ico/leaf.ico')}}" />
  <meta charset="UTF-8">
  <title>
    {% block title %}

    ProStages

    {% endblock %}
  </title>


  {% block stylesheets %}
  <link rel="stylesheet" href="{{asset('/css/fontello.css')}}">
  <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}">
{% endblock %}
</head>
<body>

  <!-- container -->
  <div class="container-full">
    <div class="row">
      <div class="col-md-12">

        {% block intitule %}
        <div class="p-3 mb-2 bg-dark text-white">
          <a href = "{{path('accueil_pro_stages')}}" style="color:white; text-decoration:none;">
            <center><h1 class = "icon-leaf">
              ProStages
            </a>
          </h1></center>
        </div>
      </br></br>
      {% endblock %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <div class="container-fluid">

      {% block contenu %}

      {% endblock %}

    </div>

  </div>

  <div class="col-md-3">
    <div class="container-fluid">

      {% block admin %}

      {% if is_granted('ROLE_ADMIN') %}

      <li class="list-group-item"><center><a href="{{path('easyadmin')}}" style="color:#6B6762; text-decoration:none;">
        <b class="icon-cog-alt"> Espace administrateur </b>
      </center></a></li>

      {% endif %}

      {% endblock %}

      {% block login %}

      {% if is_granted('ROLE_USER') %}
      <li class="list-group-item"><center><a href="{{path('app_logout')}}" style="color:#6B6762; text-decoration:none;">
        <b class="icon-user-times"> Déconnexion </b>
        <font size ="-1">
          ({{ app.user.prenom }} {{ app.user.nom}})
        </font>
      </center></a></li>

      {% else %}
      <li class="list-group-item"><center><a href="{{path('app_inscription')}}" style="color:#6B6762; text-decoration:none;">
        <b class="icon-key-outline"> Inscription</b></center></a></li>

        <li class="list-group-item"><center><a href="{{path('app_login')}}" style="color:#6B6762; text-decoration:none;">
          <b class="icon-user"> Connexion</b></center></a></li>

          {% endif %}

          {% endblock %}

          <br>

          {% block tri %}

          <h4><center>Trier par :</center></h4></br>
          <ul class="list-group">
            <li class="list-group-item"><center><a href="{{path('entreprises_prostages')}}" style="color:#6B6762; text-decoration:none;">
              <b>Entreprises</b></center></a></li>
              <li class="list-group-item"><center><a href="{{path('formation_index')}}"style="color:#6B6762; text-decoration:none;">
                <b>Formations</b></center></a></li>
              </ul>
            </br>
            {% endblock %}

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="container-fluid">

            {% block footer %}


            {% endblock %}

          </div>
        </div>
      </div>


      {% block javascripts %}

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="{{asset('/js/bootstrap.min.js')}}"></script>

      {% endblock %}


    </body>
    </html>
